body {
  background-image: url('portfolio-back.webp'); 
  background-size: cover; /
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center center; 
}

#site_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}


header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-size: 31px;
  font-weight: bold;
  padding-left: 50px;
}

#brand a {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}

#brand a {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Questrial', sans-serif;
}

ul a {
  color: #ffffff;
}

ul a:hover {
  color: #F49384;
  transition: 0.5s;
}

ul li {
  padding-right: 80px;
  margin-left: 10px;
}

.main-container {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #262626;
  height: auto;
  margin-bottom: 100px;
  margin-top: 80px;
  padding-bottom: 300px;
  width: 100%;
}

.main-container h1 {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  font-weight: 100;
}

footer {
  position: flex;
  font-family: 'Questrial', sans-serif;
  bottom: 0;
  left: 0;
  color: #fff;
  text-align: left;
}

footer p {
  font-size: 12px;
  padding-left: 55px;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
  z-index: 1;
  padding-right: 70px;
}

#hamburger-icon div{
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  background-color: #262626;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  z-index: -1;
}

.mobile-menu li {
  margin-top: 40px;
  font-size: 30px;
}






@media (max-width: 768px) {

  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  #brand a {
    font-size: 17px;
  }

  img {
    width: 80%;
  }

  .main-container {
    width: 100%;
    padding: 0;
    padding-bottom: 70px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}